### CFM 301 Data Assignment 3 Q4
#### Jeongseop Yi (j22yi)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
# Load the data
q1_data = pd.read_excel("../DA3_data.xlsx", sheet_name="Q1")
q2_data = pd.read_excel("../DA3_data.xlsx", sheet_name="Q2")
q3_data = pd.read_excel("../DA3_data.xlsx", sheet_name="Q3")

In [3]:
q1_data['BETA'+'_W'] = q1_data.groupby('MONTHID')['BETA'].transform(lambda x: x.clip(lower=x.mean() - 3*x.std(), upper=x.mean() + 3*x.std()))
q2_data['IVOL'+'_W'] = q2_data.groupby('MONTHID')['IVOL'].transform(lambda x: x.clip(lower=x.mean() - 3*x.std(), upper=x.mean() + 3*x.std()))
q3_data['MOM'+'_W'] = q3_data.groupby('MONTHID')['MOM'].transform(lambda x: x.clip(lower=x.mean() - 3*x.std(), upper=x.mean() + 3*x.std()))

# save each winsorized data by monthid and permno to q4_data
q4_data = pd.merge(q1_data, q2_data, on=['MONTHID', 'PERMNO'], how="outer")
q4_data = pd.merge(q4_data, q3_data, on=['MONTHID', 'PERMNO'], how="outer")

In [4]:
display(q4_data[['BETA_W', 'IVOL_W', 'MOM_W']].describe(percentiles=[0.01, 0.05, 0.25, 0.5, 0.75, 0.95, 0.99]))

             BETA_W        IVOL_W         MOM_W
count  20308.000000  20775.000000  20381.000000
mean       1.254927      0.016489      0.263819
std        0.780144      0.011419      0.569629
min       -2.016456      0.001331     -0.972296
1%        -0.116178      0.004099     -0.648930
5%         0.267463      0.005521     -0.385049
25%        0.773262      0.008871     -0.026301
50%        1.111727      0.013138      0.179303
75%        1.561689      0.020306      0.424267
95%        2.778597      0.039294      1.175456
99%        3.840429      0.058917      2.332290
max        5.799785      0.113657     10.179186

In [6]:
with pd.ExcelWriter("../DA3_data.xlsx", mode='a', engine="openpyxl", if_sheet_exists='replace') as writer:
    q4_data[['PERMNO', 'MONTHID', 'BETA', 'BETA_W', 'IVOL', 'IVOL_W', 'MOM', 'MOM_W']].to_excel(writer, sheet_name="Q4", index=False)